.claude/**
.vscode/**
.vscode-test/**

media_src/**

node_modules/**
!node_modules/node-pty/**
!node_modules/koffi/**
!node_modules/7z-wasm/**
!node_modules/node-unrar-js/**

out/**
src/**

.gitignore

*.vsix

esbuild.js
tsconfig.json

CLAUDE.md
DEVELOPER.md
USER.md
